{% extends '@Project/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mainpage') }}
{% endblock %}
{% block body %}
    <h1 id="main-title" data-random-number="{{number|e('html_attr')}}"></h1>
    <p>Something extra</p>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mainpage') }}
{% endblock %}
